<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="mailto:lewis.gould@gmail.com" target="_top">Click Here to Contact By Email</a>
      Application by Lewis Gould
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>